*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
    background-image: url(./medium-shot-man-working-beach.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  
